body {
    padding-top: 70px;
    padding-bottom: 50px;
}

.footer {
    width: 100%;
    background-color: #f5f5f5;
    padding: 15px 0;
}

.toolbar {
    margin-bottom: 20px;
}

.delete-form {
    display: inline-block;
}

.form-group-table {
    margin: 0;
}

.status-complete {
    color: green;
}

.status-cancel {
    color: red;
}
